<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Money In </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <app-modal
        [newCategory]="this.newCategory"
        [allItems]="allIncome"
        [modalId]="modalId"
        [storageId]="this.storageId"
    ></app-modal>
    <app-category-group
        [storageId]="this.storageId"
        [allItems]="allIncome"
    ></app-category-group>
</ion-content>
<app-total-bar [storageId]="'allIncome'"></app-total-bar>
